/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


body {
	margin: 0;
	padding: 30px;
	font-family:  'Alice', serif;
	font-size: 18px;
	line-height: 1.5;
}

h1, h2, h3 {
	font-family: 'Kaushan Script', cursive;
	font-weight: normal;
	margin: 0;
}

blockquote {
	font-family: 'Kaushan Script', cursive;
}


/*barvy*/ 

:root {
	--svetla: #edf3f5;
	--seda: #b2bec3;
	--tmava: #636e72;
	--oranzova: #ee5a24;
	--cervena: #ea2027;
	--zluta: #f79f1f;
	--zelena: #a3cb38;
	--limetka: #c4e538;
}

.tip-vlevo { background-color: var(--svetla);}
.tip-vpravo { background-color: var(--svetla);}

h1,h2 {color: var(--zelena);}

.meta {color: var(--seda);}

blockquote {color: var(--seda);}

figcaption {color: var(--seda);}

footer { color:var(--seda);}

footer a { color:var(--seda);}


/* grid layout */


.blog {
	display:grid;
	grid-template-columns: 1fr 4fr 2fr;
	grid-column-gap:40px;
}

header {grid-column: 2 / 3;}

h2 {grid-column: 2 / 3;}

p { grid-column: 2 / 3; }

.tip-vlevo { grid-column: 1 / 2;}

.tip-vpravo { grid-column: 3 / 4;}

figure { grid-column: 1 / -1; }

blockquote { grid-column: 1 / -1; }

footer { grid-column: 2 / 3; }


/* ostatni */

h1 {
font-size: 72px;
margin-top: 72px;
}

.meta {
	margin-bottom: 0px;
	margin-top: 80px;	
}


figure img  {
	width: 100%;
	margin: 0;

}



.tip-vlevo {
display:flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
text-align:right;
border-right: 5px solid var(--zluta);
margin:auto;
;
}

.tip-vlevo img { 
	width: 80%;
	padding-top: 10px;
}

.tip-vlevo p {
	padding-right: 15px;
}


.tip-vpravo {
	border-left: 5px solid var(--zluta);
	margin:auto;
	padding-left: 15px; 

}

.tip-vlevo a,
.tip-vpravo a {
	color: var(--oranzova);
}








blockquote {
	text-align: center;
	font-size: 48px;
}

blockquote::before {
	content: "" ;
	display:block;
	width: 150px;
	height: 5px;
	background-color: var(--limetka);
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 36px;
}

blockquote::after {
	content: "" ;
	display:block;
	width: 150px;
	height: 5px;
	background-color: var(--limetka);
	margin-left: auto;
	margin-right: auto;
	margin-top: 36px;


}